<% provide(:title, "Log in") %>
<%= content_tag(:h1, t('header.login')) %>

<div class="row">
  <div class="col-md-6 col-md-offset-3" style="margin-left: auto; margin-right: auto; margin-top: 10%;">
    <%= form_for(:session, url: login_path) do |f| %>
      <%= f.label t('login.email') %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label t('login.password') %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.submit t('header.login'), class: "btn btn-primary" %>
    <% end %>

    <%= content_tag(:p, t('login.newuser')) %><%= link_to t('login.signupnow'), signup_path %>
  </div>
</div>