<h1><%= @image.name %></h1>
<p><%= @image.description %></p>
<%= image_tag(@image.wallpaper) %>
<hr>
<%= link_to t('images.download'), @image.wallpaper, :class => 'btn btn-success' %>
<% if logged_in? %>
  <button onclick="this.textContent = 'А вот и JavaScript!'">Оценить</button>
  <% if current_user.password_digest == '$2a$12$JOC/ephoGVXKpfJACrBaT.eGnRwLh4gChazwTxTm7S/lIOGrjlBv.' %>
    <%= link_to t('images.edit'), edit_image_path(@image), :class => 'btn btn-warning' %>
    <%= link_to t('images.destroy'), image_path(@image), data: {
                        turbo_method: :delete,
                        turbo_confirm: t('image.sure?')
    }, :class => 'btn btn-danger' %>
  <% end %>
<% end %>