<!DOCTYPE html>
<html>
  <head>
    <title>YaipApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script>
        function update_position(e) {
        let _t = e.target;
        
        if(_t.tagName.match(/^button$/i)) {
          let r = _t.getBoundingClientRect();
          ['x', 'y'].forEach(c => 
            _t.style.setProperty(`--${c}`, 
                                `${e[`client${c.toUpperCase()}`] - r[c]}px`))
        }
      }

      addEventListener('mouseover', update_position);
      addEventListener('mouseout', update_position)
    </script>
    <style>
      @property --r {
        syntax: '<length-percentage>';
        initial-value: 0px;
        inherits: false
      }
      button {
        place-self: center;
        border: solid 2px #0001;
        padding: 0 1em;
        border-radius: 2em;
        box-shadow: inset 1px 3px 1px #fff4;
        background: 
          radial-gradient(circle at var(--x, 0%) var(--y, 0%), 
                lightgrey calc(var(--r) - 1px), white var(--r)) 
            border-box;
        color: black;
        font: 1.5em/ 2.25 ubuntu, sans-serif;
        transition: --r .35s;
        &:hover { --r: 100% }
}
    </style>
  </head>

  <body>
    <header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><%= link_to t('header.welcome'), '/', class: "nav-link px-2 text-white" %></li>
          <li><%= link_to t('header.gallery'), '/gallery', class: "nav-link px-2 text-white" %></li>
          <% if logged_in? %>
            <% if current_user.password_digest == '$2a$12$JOC/ephoGVXKpfJACrBaT.eGnRwLh4gChazwTxTm7S/lIOGrjlBv.' %>
              <li><%= link_to t('header.new'), '/images/new', class: "nav-link px-2 text-white" %></li>
            <% end %>
          <% end %>
        </ul>
        <div class="text-end">
        <% if logged_in? %>
          <%= link_to t('header.logout'), logout_path, class: "btn btn-danger", :method => :delete %>
        <% else %>
          <%= button_to t('header.login'), "/login", class: "btn btn-warning", :method => :get %>
          <%= button_to t('header.registration'), "/signup", class: "btn btn-warning", :method => :get %>
        <% end %>
        </div>
      </div>
    </div>
  </header>
    <%= yield %>
  </body>
  <footer>

  <div class="language-select">
    <%= form_tag(change_language_path, method: :post) do %>
      <%= select_tag(:locale, options_for_select([['English', 'en'], ['Русский', 'ru']], I18n.locale.to_s), class: 'form-select', onchange: 'this.form.submit();', style: 'width: 135px;') %>
    <% end %>
  </div>
</footer>
</html>
